.Card {
  width: 20em;
  max-width: 20em;
  
}
.singleCard {
    width:100%;
    display: flex;                  /* 1 */
    align-items: flex-start;        /* 2 */
    justify-content: space-between; /* 3 */
    text-align: center;
    
    
}

.MuiCard-root {
    padding: 2rem;
    margin: 2rem;
}

.MuiCard-root {
    background-color: white;
}

body {
    background-color: #add8e6;
}

.text-center {
    text-align: center;
    align-content: center;
}

.border {
    border-style: solid;
    border-radius: 1em;
    border-color: #add8e6;
}

.theme-color {
    background-color: #add8e6;
}

.btn2 {
    background-color:grey;
}

.MuiGrid-container {
    display:flex;
  align-items:space-between;
  justify-content:space-between;
  flex-wrap:wrap;
  margin: auto;
}